@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<section id="SearchForm">
		<form id="gitUserSrch">
			<label for="gitUserInput">GitHub Username:</label>
			<input type="search" id="gitUserInput" name="gitUserInput" placeholder="GitHub Username" />
			<input type="submit" value="Search" />
		</form>
	</section>
	<section id="SeachResults">
		<ul id="userProfile" class="list-group mx-auto mb-5" style="width: 500px">
		</ul>
	</section>
</div>
